<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dalog.DataPlatform.Client.ImageUploader.Forms.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dalog.DataPlatform.Client.ImageUploader.Forms.UserSettings>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://api.dalog.net</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="MachineId" serializeAs="String">
                <value />
            </setting>
            <setting name="DalogId" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableSslChecks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUseDefaultCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyCredentialsUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyCredentialsPassword" serializeAs="String">
                <value />
            </setting>
        </Dalog.DataPlatform.Client.ImageUploader.Forms.UserSettings>
    </userSettings>
</configuration>